body {
    margin: 0;
}

header#main {
    color: #fff;
    text-shadow: 1px 1px 1px #7d7d7d;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 30px;
    margin-top: 0;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    box-shadow: 0px 3px 3px #5f5f5f61;
}

section {
    margin: 0px 32px;
}

img {
    max-width: 100%;
    height: auto;
}

header{
    margin-bottom: 20px;
}
header h2 {
    margin-bottom: 0px;
}

code{
    margin-bottom: 20px;
    background: #eee;
    display: block;
    max-width: 500px;
    border-left: 3px solid #107dec;
    padding: 3px 3px 3px 15px;
}
code spam.nextLine{
    visibility: hidden;
}
code.cssCode {
    border-left: 3px solid #07d420;
}

hr {
    margin: 32px 0;
    border: 1px solid #eee;
    box-shadow: 1px 0px 4px #a0979738;
    clear: both;
}

ul#firstIlast {
    width: 200px;
}
ul#firstIlast li{
    border-bottom: 1px solid #333;
}

a {
    text-decoration: none;
}
.info-exclamation{
    display: block;
    margin: 5px 0;
    max-width: 510px;
    padding: 5px;
    background: #f91e1e6e;
    color: #820000;
    border-right: 1px solid #f91e1e;
    border-bottom: 1px solid #f91e1e;
    border-radius: 3px;
}

footer{
    margin-top: 32px;
}
